$background-base: rgb(255 242 200);
$base-color:rgb(255, 167, 52);

@font-face {
	font-family: 'Deledda'; 
	src: url('./fonts/ofont.ru_Deledda.ttf'); 
}

@font-face {
	font-family: 'DeleddaO'; 
	src: url('./fonts/ofont.ru_DeleddaO.ttf'); 
}

@font-face {
	font-family: 'LTSuperiorR'; 
	src: url('./fonts/LTSuperior-Regular.otf'); 
}

@font-face {
	font-family: 'LTSuperiorM'; 
	src: url('./fonts/LTSuperior-Medium.otf'); 
}

@font-face {
	font-family: 'LTSuperiorB'; 
	src: url('./fonts/LTSuperior-Bold.otf'); 
}

@font-face {
	font-family: 'Kanit'; 
	src: url('./fonts/Kanit_Cyrillic.ttf'); 
}

@font-face {
	font-family: 'MagnetTrialM'; 
	src: url('./fonts/MagnetTrial-Medium.ttf'); 
}

@font-face {
	font-family: 'MagnetTrialL'; 
	src: url('./fonts/MagnetTrial-Light.ttf'); 
}

@font-face {
	font-family: 'FuturaRg'; 
	src: url('./fonts/FuturaRg.ttf'); 
}

//Propisi
@font-face {
	font-family: 'Florisel'; 
	src: url('./fonts/Floriselscript.ttf'); 
}

@font-face {
	font-family: 'Kindentosca'; 
	src: url('./fonts/Kindentosca.otf'); 
}

@font-face {
	font-family: 'Propisi'; 
	src: url('./fonts/Propisi.ttf'); 
}

@font-face {
	font-family: 'Arctika'; 
	src: url('./fonts/Arc.otf'); 
}


@font-face {
	font-family: 'Intro'; 
	src: url('./fonts/Intro-Black-Italic.ttf'); 
}

