@import '../../style.scss';

.contacts{
    min-height: 500px;
    &__content{
        width: 80%;
        margin: 10px auto;
        padding: 15px;
        position: relative;
        padding-bottom: 20px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__left{
        width: 50%;
    }
    &__right{
        width: 50%;
        img{
            display: block;
            width: 100%;
        }
    }
    &__title{
        font-family:'Deledd0',Arial, Helvetica, sans-serif;
        font-size: 2rem;
    }
    &__list{
        margin-top: 30px;
        padding: 10px;
    }
    &__item{
        padding: 0;
        margin-bottom: 40px;
    }
    &__item-title{
        display: flex;
    }
    &__svg{
        filter: invert(66%) sepia(80%) saturate(567%) hue-rotate(333deg) brightness(105%) contrast(101%);
    }
    &__descript{
        font-family:'Deledd',Arial, Helvetica, sans-serif;
        font-size: 1rem;  
        padding: 15px;
    }
    &__basic{
        margin-top: 10px;
        margin-left: 20px;
    }
}

.phone-base{
    font-size: 2rem;
    font-family:'Deledd0',Arial, Helvetica, sans-serif;
}

.mail-base{
    &__link{
        font-size: 1.4rem;
        color: $base-color;
    }
}

.icon-base{
    display: flex;
    padding: 20px 0;
    &__item{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: $base-color;
        margin-right: 10px;
    }
    &__link{
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .base-svg{
        filter: invert(100%) sepia(6%) saturate(71%) hue-rotate(238deg) brightness(110%) contrast(95%);
    }    
}