@import '../style.scss';

.page{
    position: relative;
    background-color: $background-base;
    height: 100%;
    overflow: hidden;
}

.contain{
    width: 85%;
    margin: 0px auto;
    max-width: 1600px;
    @media screen and (max-width: 1000px){
        font-size: 1.1rem;
        width: 100%;
    }
}


