@import '../style.scss';

.main {
    background-color: $background-base;
    margin-bottom: 70px;

    @media screen and (max-width: 900px) {
        margin-bottom: 220px;
    }
    @media screen and (max-width: 900px) {
        margin-bottom: 220px;
    }
     @media screen and (max-width: 650px) {
           margin-bottom:300px;
    }
     @media screen and (max-width: 499px) {
           margin-bottom:360px;
    }

    // margin-bottom: 70px;
    &__wrapper {
        width: 95%;
        max-width: 1600px;
        height: 100%;
        background-color: rgb(255, 255, 255);
        margin: 50px auto;
        border-radius: 30px;
        padding: 140px 0;
        @media screen and (max-width: 499px) {
            padding: 40px 0;
             margin: 40px auto;
        }
    }
    .g{
        height: 1000px;
    }
}


.star-icon {
    width: 30px;
    height: 30px;
    filter: invert(75%) sepia(20%) saturate(6567%) hue-rotate(2deg) brightness(107%) contrast(102%);
}