@import '../../style.scss';

.policy{
    min-height: 500px;
    background-color: white;
    &__content{
        width: 80%;
        margin: 50px auto;
        padding: 15px;
        position: relative;
        padding-bottom: 200px;
    }
    &__title{
        font-size: 1.5rem;
        font-weight: 900;
    }
    &__h{
        font-size: 1.2rem;
        font-weight: 900;
    }
    &__par{
        font-size: 1rem;
    }
    &__list{
        font-size: 1rem;
        list-style: none;
    }
    &__item{
        font-size: 1rem;
    }
}