.descr {
    padding: 50px 100px;
    background-color: white;
    width: 70%;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;

    @media screen and (max-width: 700px) {
        padding: 30px 60px;
    }

    @media screen and (max-width: 500px) {
        padding: 20px 40px;
    }

    &__title {
        font-size: 2rem;
        font-family: 'LTSuperiorR', Arial, Helvetica, sans-serif;

        @media screen and (max-width: 900px) {
            font-size: 1.6rem;
        }

        @media screen and (max-width: 700px) {
            font-size: 1.2rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 1rem;
        }

    }

    &__list {
        margin: 10px 0;

    }

    &__item {
        font-family: 'LTSuperiorR', Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
        margin: 4px;

        @media screen and (max-width: 900px) {
            font-size: 1rem;
        }

        @media screen and (max-width: 700px) {
            font-size: 0.8rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 0.6rem;
        }
    }
}