@import '../../style.scss';

.popup-contain{
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 500;
}

.popup{
    width: 300px;
    height: 70px;
    opacity: 1;
    transition: all 0.5s ease;
    border-radius: 10px;
    color: white;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text{
        display: block;
        text-align: center;
        font-family:'DeleddaO',Arial, Helvetica, sans-serif;
    }
}
