@import '../../style.scss';

.aboutme{
    padding: 40px 0;
    width: 90%;
    background-color:  $background-base;
    margin: 0 auto;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        overflow: hidden;
        margin: 20px auto;
        width: 90%;
        height: 80%;
        display: flex;
        @media screen and (max-width: 915px) {
            display: block;
        }
    }
    &__text{
        width: 65%;
        height: 100%;
        @media screen and (max-width: 915px) {
            width: 100%;
        }
    }
    &__title{
        font-family:'Kanit',Arial, Helvetica, sans-serif;
        font-size: 2.4rem;
        margin: 10px;
        @media screen and (max-width: 1200px) {
            font-size: 2.2rem;
        }
        @media screen and (max-width: 500px) {
            font-size: 1.8rem;
        }
    }
    &__descrip{
        font-family:'MagnetTrialL',Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        margin: 10px;
        line-height: 1.8rem;
        @media screen and (max-width: 1200px) {
            font-size: 1.1rem;
            line-height: 1.4rem;
        }
        @media screen and (max-width: 1200px) {
            font-size: 0.9rem;
            line-height: 1.1rem;
        }

    }
    &__photo{
        width: 35%;
        height: 100%;
        @media screen and (max-width: 915px) {
            margin: 0 auto;
            width: 100%;
            margin-top: 30px;
        }
    }
}

.photo{
    width: 300px;
    height: 300px;
    margin: 10px auto;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 1200px) {
        width: 240px;
        height: 240px;
    }
    @media screen and (max-width: 915px) {
        width: 300px;
        height: 300px;
    }
    @media screen and (max-width: 400px) {
        width: 240px;
        height: 240px;
    }
    &__img{
        width: 100%;
        // height: 100%;
        position: absolute;
        top: -110px;
    }
}

.photo-show{
    display: block;
    margin: 10px auto;
    max-height: 95vh;
}