.exceptions {
    padding-bottom: 0px;
}

.exceptions-article {
    width: 90%;
    min-height: 300px;
    margin: 0px auto;
    padding: 15px;
    position: relative;
    padding-bottom: 50px;

    &__title {
        font-family: 'Kanit', Arial, Helvetica, sans-serif;
        font-size: 2rem;
        margin: 20px 20px;
    }

    &__list {
        display: grid;
        grid-template-columns: 50% 50% ; 
        grid-auto-rows: 25px;
        gap: 20px;
        list-style-position:inside;
         @media screen and (max-width: 700px) {
             grid-template-columns: 90%;
        }

    }

    &__item {
        font-size: 1.3rem;
        font-family: 'MagnetTrialL', Arial, Helvetica, sans-serif;

        @media screen and (max-width: 1400px) {
            font-size: 1rem;
        }
        @media screen and (max-width: 600px) {
            font-size: 0.9rem;
        }
         @media screen and (max-width: 350px) {
            font-size: 0.8rem;
        }
    }

    &__item::marker {
        font-weight: bold;
    }
}