@import '../../style.scss';

.requests {
    width: 90%;
    margin: 40px auto;
    padding-top: 10px;

    &__content {
        width: 100%;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 150px;
        column-gap: 2rem;
        list-style-type: none;

        @media screen and (max-width: 950px) {
            display: block;
        }
    }

    &__item {
        position: relative;

        @media screen and (max-width: 950px) {
            margin: 20px 0;
        }
    }

    &__title {
        margin: 40px auto;
        text-align: center;
        font-family: 'Kanit', Arial, Helvetica, sans-serif;
        font-size: 1.6rem;

        @media screen and (max-width: 1200px) {
            font-size: 1.4rem;
        }
    }
}

.card {
    display: flex;
    max-width: 100%;

    &__pic {
        width: 122px;
        height: 122px;
        min-width: 122px;
        border-radius: 20px;
        background-color: red;

        @media screen and (max-width: 1200px) {
            width: 97px;
            height: 97px;
            min-width: 97px;
        }

        @media screen and (max-width: 500px) {
            width: 82px;
            height: 82px;
            min-width: 82px;
        }

    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    &__text {
        margin-left: 20px;
        font-family: 'LTSuperiorM', Arial, Helvetica, sans-serif;
        line-height: 1.2;
    }

    &__tittle {
        font-family: 'LTSuperiorM', Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 1.4rem;

        @media screen and (max-width: 1200px) {
            font-size: 1rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 0.8rem;
            ;
        }
    }

    &__other {
        font-size: 1.1rem;
        color: rgb(42, 42, 42);
    }

    &__detailed {
        font-size: 1.1rem;
        color: blue;
        cursor: pointer;

        @media screen and (max-width: 1200px) {
            font-size: 0.9rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 0.7rem;
            ;
        }
    }
}

.descript {
    width: 400px;
    height: 100px;
    background-color: white;
    margin: 10px auto;
}