
.reviews{
    width: 100%;
    // height: 450px;
    margin-bottom: 100px;
    &__title{
        margin-left:100px;
        font-size: 2rem;
        font-family: 'Kanit',Arial, Helvetica, sans-serif;
    }
    &__content{
        margin: 0 auto;
        width: 95%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    &__list{
        user-select: none;
        // cursor:grab;
        position: relative;
        width: 100%;
        list-style-type: none;
        display: flex;
        box-sizing: border-box;
        flex-shrink: 0;
    }
    &__cards{
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    &__item{
        width: 308px;
        height: 350px;
        background-color: rgb(246, 246, 246);
        border-radius: 20px;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__scrolling-right{
        right: 0px;
    }
    &__scrolling-left{
        left: 0px;
    }
    &__arrow-scroll{
        user-select: none;
        top: 150px;
        position: absolute;
        width: 44px;
        height: 44px;
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 1px solid rgb(234, 234, 234); 
        z-index: 10;
    }
}

.twist{
    transition: transform 0.5s ease;
}

.rev-item{
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        width: 95%;
        height: 95%;
       
    }
    &__img{
        display: block;
        max-width: 95%;
        max-height: 95%;
        margin: 0 auto;
        user-select: none;
        -webkit-user-drag: none;
    }
}
