@import '../../style.scss';



.video {
    margin-top: 25px;
    width: 100%;
    // height: 800px;
    // background-color: blue;

    &__content {
        width: 740px;
        height: 425px;
        margin: 0 auto;
        border-radius: 20px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 800px) {
            width: 517px;
            height: 296px ;
        }
        @media screen and (max-width: 600px) {
             width: 413px;
            height: 236px ;
        }
        @media screen and (max-width: 450px) {
            width: 331px;
            height: 189px;
        }

        iframe {
            display: block;
            margin: 10px auto;
            border-radius: 20px;
            width: 95%;
            height: 95%;
        }
    }

    &__unavailable {
        position: relative;
        width: 80%;
        font-family: 'Kanit', Arial, Helvetica, sans-serif;
        margin: 30px auto;
        font-size: 2rem;
        text-align: center;
       
        z-index: 10;
    }
}

.unavailable-pic{
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
     opacity: 0.5;
     width: 150px;
     height: 150px;
}
.unavailable-text{
    position: relative;
    display: block;
    z-index: 10;
    opacity: 0.6;
    color: white;
}