@import '../../style.scss';

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 158px;
    background-color: rgb(62, 62, 62);

    &__content {
        margin: 30px auto;
        width: 85%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 900px) {
            display: block;
        }

        @media screen and (max-width: 650px) {
            margin-bottom: 90px;
        }
    }

    &__left {
        flex: 1;
    }

    &__average {
        flex: 1;
    }

    &__right {
        flex: 1;
    }
}

.footer-foot {
    color: rgb(197, 197, 197);
    font-family: 'Deledda', Arial, Helvetica, sans-serif;

    @media screen and (max-width: 900px) {
        margin: 0 auto;
        width: 50%;
        text-align: center;
    }
    @media screen and (max-width: 600px) {
        width: 70%;
        text-align: center;
    }

    &__item {
        display: flex;
        margin: 5px 0;
    }

    &__point {
        margin-left: 15px;
        margin-top: 8px;
    }

    &__link {
        font-family: 'Deledda0', Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin: 0 5px;
    }

    &__links {
        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    &__separator {
        margin: 0;
    }

    &__label {
        padding: 4px 10px 15px 10px;
    }

    &__copyright {
        font-size: 0.8rem;
        margin: 5px 6px;
    }

    &__social {
        display: flex;
    }

    &__info {
        margin: 10px 0;

        p {
            font-size: .8rem;

            @media screen and (max-width: 1100px) {
                font-size: .7rem;
            }
        }
    }
}

.social-item {
    background-color: rgb(96, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 8px;

    &__svg {
        display: block;
        filter: invert(99%) sepia(0%) saturate(1535%) hue-rotate(182deg) brightness(118%) contrast(80%);
    }
}

.point-mail {
    color: $base-color;
}

.svg-circle {
    width: 30px;
    height: 30px;
    background-color: rgb(96, 96, 96);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__pic {
        display: block;
        filter: invert(99%) sepia(0%) saturate(1535%) hue-rotate(182deg) brightness(118%) contrast(80%);
    }
}

.footer-fixed {
    position: fixed;
    z-index: 200;
    right: 10px;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
        // display: block;
        border-radius: 50%;
        background-color: $base-color;
        width: 48px;
        height: 48px;
        display: grid;
        place-items: center;
    }

    &__svg {
        filter: invert(99%) sepia(36%) saturate(61%) hue-rotate(214deg) brightness(114%) contrast(94%);
    }
}

.foot-logo {
    width: 224px;
    height: 40px;
  
    @media screen and (max-width: 399px) {
        width: 190.4px;
        height: 34px;
    }
}

.click-download{
    cursor: pointer;
}