@import '../../style.scss';

.header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    padding: 19px 0;
    box-sizing: border-box;
    overflow: hidden;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 20%;
        @media screen and (max-width: 1110px) {
            margin-left: 30px;
        }
        
        @media screen and (max-width: 450px) {
            margin-left: 10px;
        }

    }

    &__nav {
        font-family: 'LTSuperiorM', Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        // margin-left: 100px;
        width: 20%;

        @media screen and (max-width: 1215px) {
            width: 20%;
            font-size: 1.2rem;
            margin-left: 100px;
        }

        @media screen and (max-width: 1100px) {
            font-size: 1.1rem;
        }

        @media screen and (max-width: 900px) {
            display: none;
        }
    }

    &__contacts {
        font-family: 'Kanit', Arial, Helvetica, sans-serif;
        font-size: 1.3rem;
        color: rgb(95, 95, 95);
        display: flex;

        @media screen and (max-width: 1110px) {
            font-size: 1.1rem;
        }
        
        @media screen and (max-width: 400px) {
            font-size: 0.9rem;
        }

        .tel {
            padding: 3px;
            box-sizing: border-box;
            @media screen and (max-width: 1110px) {
                margin-right: 30px;
            }
            @media screen and (max-width: 450px) {
                margin-right: 10px;
            }
        }

        .insert {
            display: block;
            color: $base-color;
            font-size: 0.9rem;

            @media screen and (max-width: 1110px) {
                font-size: 0.8rem;
            }
        }
    }
}

.logo {
    position: absolute;
    top: 0px;
    width: 280px;
    height: 80px;
    overflow: hidden;

    @media screen and (max-width: 600px) {
        width: 196px;
    }
    
    @media screen and (max-width: 400px) {
        width: 156px;
    }

    &__img {
        position: relative;
        right: 50px;
        width: 380px;
        height: 80px;

        @media screen and (max-width: 600px) {
            width: 266px;
            height: 56px;
            top: 10px;
            right: 30px;
        }

        @media screen and (max-width: 400px) {
            width: 212px;
            height: 44px;
            top: 18px;
            right: 22px;
        }
    }
}

.singup {
    position: relative;
    margin: 0 20px;
    padding: 5px;
    font-size: 1.2rem;
    background-color: $base-color;
    color: white;
    border-radius: 10px;
    height: 42px;
    width: 150px;
    font-family: 'LTSuperiorM', Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;

    &__text {
        padding: 0;
    }

    &__resource {
        font-size: .8rem;
        color: rgb(0, 0, 152);
    }

    @media screen and (max-width: 900px) {
        position: fixed;
        bottom: 10px;
        left: 10px;
        z-index: 200;
    }
}

.singup:hover {
    background-color: rgb(223, 147, 47);
    color: rgb(220, 220, 220);
    transition: all 0.3s linear;
}

.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: relative;

    &__item {
        display: flex;
    }

    &__link {
        display: flex;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        height: 42px;
        min-width: 150px;
        margin: 0 10px;
        padding: 10px;
        box-sizing: border-box;
        transition: background-color 0.3s linear;
        cursor: pointer;

        @media screen and (max-width: 1100px) {
            display: block;
            margin: 0 auto;
            padding: 0px;
            text-align: center;
        }
    }

    &__link:hover {
        background-color: $background-base;
    }

    &__icon {
        position: relative;
        top: -2px;

        img {
            width: 25px;
            height: 25px;

            @media screen and (max-width: 1215px) {
                width: 22px;
                height: 22px;
            }

            @media screen and (max-width: 1100px) {
                display: block;
                margin: 0 auto;
            }
        }
    }

    &__name {
        margin-left: 10px;
        position: relative;
        top: 0px;
    }
}